.html
  .left-header
    .textbox
      %p.user-name
        man
      %ul.menu
        %li.new-group
          =link_to "#" do
            .fas.fa-edit
        %li.edit
          .fas.fa-cog
  .left-content
    .group
      %p.group_name 
        test
      %p.message
        まだメッセージはありません
      
  