* {
  box-sizing: border-box;
}

.main{
  width: calc(100vw - 300px);
  height: 100vh;
  float: right;
}
.right-header{
  background-color: #ffffff;
  padding: 0 40px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
}

.group-box{
  margin-top: 35px;
}

.group-name{
  color: #333333;
  font-size: 20px;
}

.group-member{
  font-size: 12px;
  color: #999999;
}

.edit-btn{
height: 40px;
line-height: 40px;
border: solid 1px;
color: #38aef0;
padding: 0 20px;
margin-top: 30px;
position: absolute;
right: 40px;
}

.main-content{ 
  background-color: #fafafa;
  height: calc(100vh - 190px);
  overflow: scroll;
}

.message-box{
  padding-top: 35px;
  padding-left: 40px;
}

.messages{
  padding-bottom: 40px;

}

.upper-message{
  display: flex;
  margin-bottom: 10px;
}

.upper-message__user-name{
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.lower-message{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 10px;
}

.upper-message__date{
  font-size: 12px;
  margin-left: 10px;
  color: #999999;
}

  .form{
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
}
  
  .new_message{
    display: flex;
    width: 100%;
  }

    .form__message{
      height: 50px;
      border: #434A54;
      padding: 0 40px 0 10px;
      width: 600px;
    }

    .form__submit{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      color: white;
      background-color: #38aef0;
      float: right;
    }

    .form__mask__image{
      right: 10px;
      top: 20px;
      font-size: 20px;
    }

    .hidden {
      display: none;
    }