* {
  box-sizing: border-box;
}

.main{
  width: calc(100vw - 300px);
  float: right;
}
.right-header{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
}

.group-name{
  margin-bottom: 15px;
  margin-left: 40px;
  color: #333333;
  padding-top: 35px;
  font-size: 20px;
}

.group-member{
  font-size: 12px;
  color: #999999;
  margin-left: 40px;
}

.edit-btn{
font-size: 16px;
width: 72px;
height: 40px;
line-height: 40px;
border: solid 1px;
text-align: center;
align-items: center;
color: #38aef0;
padding: 0 20;
margin-top: 30px;
position: absolute;
right: 40px;
}

.main-content{ 
  background-color: #fafafa;
  width: calc(100vw - 300px);
  height: calc(100vh - 190px);
}

.message-box1{
  padding-top: 35px;
  padding-left: 40px;
}

.message_updata{
  display: flex;
  margin-bottom: 10px;
}
.message_updata_user{
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  
}

.message_updata_data{
  font-size: 12px;
  color: #999999;
  margin-left: 10px;
}

.message_text{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 46px;
}

.chat-area{
  background-color: #d2d2d2;
  width: calc(100vw - 300px);
  height: 90px;
}

.message-area{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 10px;
  border: #434A54;
}

.text-form{
  text-align: center;
  position: absolute;

}

